body {
  margin-top: 20px;
  font-family: sans-serif;
  background-color: rgb(73,231,236); /*top colour*/
  background-image: -webkit-linear-gradient(top, rgb(73,231,236), rgb(227,130,244));
  background-image:    -moz-linear-gradient(top, rgb(73,231,236), rgb(227,130,244));
  background-image:      -o-linear-gradient(top, rgb(73,231,236), rgb(227,130,244));
  background-image:         linear-gradient(to bottom, rgb(73,231,236), rgb(227,130,244));
}
ol li.list-group-item {
  list-style: decimal inside;
  display: list-item;
}
ol li.list-group-item:hover {
  box-shadow: 0 0 1.3em 0.03em rgba(0,0,0,0.3);
  transition: 0.6s;
}
ol li.list-group-item button {
  padding: 0px 6px 0 6px !important;
  float: right;
}
.float-left {
  margin: auto 20px auto auto;
}
.container {
  width: 400px;
}
.note .delete-note {
  visibility: hidden;
}
.note:hover .delete-note {
  visibility: visible;
}
